html {
  background-image:url('piet-mondrian-background.jpg');
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.welcomes{
  background-color:	rgba(90, 90, 90, 0.8);
  width:200px;
  margin:auto;
  padding-right:20px;
  text-shadow: 2px 2px #D3D3D3;
  padding-bottom:40px;
  -moz-box-shadow: 0 0 6px rgb(0,0,0,.7);
  -webkit-box-shadow: 0 0 6px rgb(0,0,0,.7);
  box-shadow: 0 0 10px rgb(0,0,0,.7);
  border-style:solid;
}
.welcome {
  font-family: "Helvetica", "georgia", "times new roman";
  text-align: center;
  letter-spacing: -3px;
  font-style:italic;
  padding:-10px;
  margin:auto;
}
.welcome1{
  font-family: "Helvetica", "georgia", "times new roman";
  text-align: center;
  letter-spacing: -3px;
  font-style:italic;
  padding:-10px;
  margin:-5px;
  color:#ff1a1a;
}
.welcome2 {
  font-family: "Helvetica", "georgia", "times new roman";
  text-align: center;
  letter-spacing: -3px;
  font-style:italic;
  padding:-10px;
  margin:-10px;
  margin-left:10px;
  color:#ffffff;
}
.welcome3 {
  font-family: "Helvetica", "georgia", "times new roman";
  text-align: center;
  letter-spacing: -3px;
  font-style:italic;
  padding:-10px;
  margin:-15px;
  color:#ffcc00;
}
.menu-content {
    font-family: 'Fira Sans', sans-serif;
    font-style:italic;
    padding: 0 0 0 50px;
    text-shadow: 2px 2px #A9A9A9;
    letter-spacing: 0px;
}
.menu-content, a {
  color:inherit;
}
.collapsible-menu {
    margin-top:10px;
    width:135px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color:rgba(90, 90, 90, 0.8);
    padding: 0px 30px;
    border-style:solid;
    -moz-box-shadow: 0 0 6px rgb(0,0,0,.7);
    -webkit-box-shadow: 0 0 6px rgb(0,0,0,.7);
    box-shadow: 0 0 10px rgb(0,0,0,.7);
    overflow-y: hidden;
  }
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {

    padding: 0px;
    text-decoration: none;
}
.collapsible-menu label {
  margin-left:30px;
  display:inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 0px;
    text-shadow: 2px 2px #D3D3D3;
}
input#menu {
    display: none;
}
input:checked +label {
    background-image: url(close.png);
}
.menu-content {
    margin-left: -10px;
    max-height: 0;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
    padding: 0 0 0 0px;
    letter-spacing: 0px;
}
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}
.in-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Fira Sans", sans-serif;
  text-align:center;
}
.progress-text {
  background-color:rgba(90,90,90,.8);
  text-shadow:1px 1px rgba(0,0,0,.5);
}
.version {
  font-family:"Lucida Console", "monospace";
  position: absolute;
  bottom:0;
  right:5px;
}
.introduction {
  float:left;
  font-family: 'Fira Sans', sans-serif;
  margin-left:70px;
  margin-right:70px;
  margin-top: auto;
  margin-bottom: auto;
  background-color:rgba(90,90,90,.8);
  -moz-box-shadow: 0 0 6px rgb(0,0,0,.7);
  -webkit-box-shadow: 0 0 6px rgb(0,0,0,.7);
  box-shadow: 0 0 10px rgb(0,0,0,.7);
}
.card1 {
  margin-left:120px;
  margin-top: auto;
  margin-bottom: auto;
}
.description {
  padding:10px;
  font-family: 'Fira Sans', sans-serif;
  margin-left:30px;
  background-color:rgba(150,150,150,.8);
  display:block;
  width:300px;
  height:50px;
  width:100%;
  height:100%;
  -moz-box-shadow: 0 0 6px rgb(0,0,0,.7);
  -webkit-box-shadow: 0 0 6px rgb(0,0,0,.7);
  box-shadow: 0 0 10px rgb(0,0,0,.7);
}
.oath-of-the-horatii {
width:30%;
height:30%;
-moz-box-shadow: 0 0 6px rgb(0,0,0,.7);
-webkit-box-shadow: 0 0 6px rgb(0,0,0,.7);
box-shadow: 0 0 10px rgb(0,0,0,.7);
}
.album
{width:40%;
height:40%;
padding:40px;

}
.album, img{
  padding:10px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}
